*{
    font-family:"Roboto";
    margin:0 px;
    padding:0 px;
}

.CenterBackground{
    background-color: white;
    display : flex;
    flex-direction: column;
}

.CenterImages {
    margin-left: auto;
    margin-right: auto;
    gap:20px;
    display: flex;
}

.Image2 img{
    border:solid #3882F6 5px;
    border-radius: 5px;
    flex: 25%;
  }

.Image2 p{
    width:150px;
    text-align: center; 
}

.InfoHead{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
    text-align: center;
    margin: 1ex;
}


nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

footer{
    background-color: #1F2937;
    text-align: center;
    text-decoration: none;
    font-size:18px;
    color: #E5E7EB;
    padding: 5ex;
}

.Hero{
    background-color: #1F2937;
}

.HeroMain{
    color:#F9FAF8;
    font-size:48px;
    font-weight:bolder;
}

.SecondaryLink{
    text-decoration: none;
    font-size:18px;
    color: #E5E7EB;
}

.Logo{
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.HeroDiv{
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.Click{
    color:#3882F6;
}

.QuoteBack{
    background-color:#E5E7EB;
}

.QuoteText{
    font-size:36px;
    font-weight:lighter;
    color:#1f2937;
    font-style: italic;
}

.QuoteAuthor{
    font-size:18px;
    font-weight:bolder;
    font-style: bold;
    color:#1f2937;
}

.Image{
  max-width: 100%;
  height: auto;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    padding: 5px 1em;    
    width: 150px;
    font-size: 15px;
}

.BlueBlock{

}
.BlueBlockT{
    
}
.BlueBlockH{
    
}