*{
    font-family:"Roboto";
    margin:0;
    padding:0;
}

.CenterBackground{
    background-color: white;
}

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.Hero{
    background-color: #1F2937;
}

.HeroMain{
    color:#F9FAF8;
    font-size:48px;
    font-weight:bolder;
}

.SecondaryLink{
    text-decoration: none;
    font-size:18px;
    color: #E5E7EB;
}

.Logo{
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.HeroDiv{
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.Click{
    color:#3882F6;
}

.InfoHead{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.QuoteBack{
    background-color:#E5E7EB;
}

.QuoteText{
    font:36px;
    font-weight:lighter;
    color:#1f2937;
}

.Image{
  max-width: 100%;
  height: auto;
}

.Image2{
    max-width: 100%;
    height: 100px;
    border:solid #3882F6 2px;
    width: 150px;
    border-radius: auto;
  }

button{
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    padding: 5px 1em;    
    width: 150px;
    font-size: 15px;
}